*{
    padding: 0;
    /* margin: 0; */
}
body{
    /* background-color: brown; */
    background-image: url('https://s7ap1.scene7.com/is/image/incredibleindia/1-chittorgarh-fort-chittorgarh-rajasthan-attr-hero');
    background-size: cover; /* This ensures the image covers the entire container */
    background-position: center center; /* Keeps the focus of the image in the center */
    background-attachment: fixed; /* This makes the background image stay fixed when scrolling (optional) */
    height: 90vh; /* Makes sure the background image covers the entire height of the viewport */
}
.container{
    display: flex;
    justify-content: center;
    align-content: flex-start;
}
.item-left{
    background-color: rgba(91, 86, 86, 0.783);
    width: 100%;
    min-width: 140px;
    max-width: 15%;
    height:auto;
    justify-content: center;
    align-content: center;
    padding: 8px;
}
.item-left-img {
    text-align:center;
    margin: 0;
    padding: 0;
}
.item-right{
    background-color: rgb(238, 238, 238,0.783);
    width: 85%;
    max-width: 90%;
    height: auto;
    justify-content: center;
    align-content: center;
    vertical-align: center;
    padding-left: 18px;
    padding-right: 18px;
}
ul{
    margin-left: 16px;
}
img{
    border-radius: 50%;
    width:100%;
    max-width: 180px;
    height: auto;
}